<section data-ng-controller="HomeController">
<!doctype html>
	<html>
		<head>
			

			<!-- Optional theme -->
			<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">

		
			</head>
		<body>
		
	</br><br/>
		<div class="container"
		<div class="panel">
			<div class="row">
				<div class="big-bg col-sm-3 col-xs-6">
				<img src="modules/core/img/brand/meanjs.jpg" width="265" height="200"></div>
				<div class="darkestBG col-sm-3 col-xs-6">
				<img src="modules/core/img/brand/ben1.jpg"  width="265" height="200"></div>
				<div class="darkestBG col-sm-3 col-xs-6">
				<img src="modules/core/img/brand/ymca.jpg" width="265" height="200"></div>
				<div class="darkestBG col-sm-3 col-xs-6">
				<img src="modules/core/img/brand/jak.jpg"width="265" height="200"></div>
		</div>
		</div>
			<div class="container">
				<div class="row">
					<div class="tech-mean col-sm-3 col-xs-6">
						<div class="panel panel-success">
							<div class="panel-heading">Technology</div>
							<div class="panel-body">
							<p>Economist Andrew McAfee suggests that, yes, probably, droids will take our jobs — or at least the kinds of jobs we know now. In this far-seeing talk, he thinks through what future jobs might look like, and how to educate coming generations to hold them.</p>
							<iframe src="https://embed-ssl.ted.com/talks/andrew_mcafee_what_will_future_jobs_look_like.html" width="245" height="213" frameborder="0" scrolling="no" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
						</div>
					</div>	
		</div>			
			<div class="schedule-just col-sm-3 col-xs-6">
				<div class="panel panel-success">
							<div class="panel-heading">2014 Schedule of events</div>
							<div class="panel-body">
							<div class="alert alert-danger" role="alert">1st Annual 5K Jamacai Plain - 10/5</div>
							<div class="alert alert-info" role="alert">Kick Boxing Scholarship Drive - Waltham, MA 11/8 </div>
							<div class="alert alert-info" role="alert">Benjamin E. Mays Scholarship Gala - Cambridge, MA 11/21  </div>
							<div class="alert alert-info" role="alert">Technology Summit - Boston, MA 11/9 </div>				
							</div>
						</div>
					</div>
						<div class="mission-love col-sm-3 col-xs-6">
							<div class="panel panel-success">
								<div class="panel-heading">Our Mission</div>
								<div class="panel-body">
								<p>The Just Love Foundation 501c(3) believes in enhancing the opportunities of those from undeserved communities. The unskilled face a challenging future with the continued march towards automating our society. Economic equality can not be achieved through legislation, it will take a deliberate effort to mentor and equip those who are in danger of systematically dwelling under the poverty line.</p> 
								
								<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
								<input type="hidden" name="cmd" value="_s-xclick">
								<input type="hidden" name="hosted_button_id" value="8QN6KYS6K52XJ">
								<input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
								<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="0" height="0">
								</form>
							</div>
						</div>
					</div>
					<div class="Ben-mays col-sm-3 col-xs-6">
							<div class="panel panel-success">
								<div class="panel-heading">Benjamin E. Mays Gala</div>
								<div class="panel-body">
								<p>On November 21st the Just Love Foundation will kick off the fourth annual Benjamin E. Mays scholarship Gala.  You can support the effort by purchasing a ticket, ad, or make a donation.  I small donation by many goes a long way. </p> 
								<img src="modules/core/img/brand/ticket.jpg" width="210" height="75"></div>
								</br>
								<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
								<input type="hidden" name="cmd" value="_s-xclick">
								<input type="hidden" name="hosted_button_id" value="AB6QDSZWFD8EC">
								<input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_buynowCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
								<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
								</br></br>
							</form>
						</div>
		<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
			<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
		<!-- Latest compiled and minified JavaScript -->
			<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js">
			</script>
		</body>
	</html>
	
